@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&family=Libre+Franklin:wght@700&family=Source+Sans+Pro:ital,wght@0,400;1,300&display=swap");

:root {
  --dark-gray: #4d4d4d;
  --light-gray: #f2f2f2;
  --base-spacing: 24px;
  --padding-desktop: 80px;
  --padding-mobile: 48px;
  --serif: "Crimson Text", serif;
  --sans-serif: "Source Sans Pro", sans-serif;
}

html,
body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
}
